<h2 class="content-block">Податочно рударење</h2>
<div class="content-block">

  <div class="dx-card responsive-paddings">
    <ul>
      <li>
        People
        <ul>
          <li>from experience, examples = Result</li>
        </ul>
      </li>
      <li>
        Traditional approach:
        <ul>
          <li>Data + Algorithm = Result</li>
        </ul>
      </li>
      <li>Machine learning:
        <ul>
          <li>Data + Output > Training = Algorithm</li>
        </ul>
      </li>
    </ul>

    <dx-form id="form" [colCount]="1" [formData]="customer">

      <dxi-item itemType="group" [colCount]="1">
        <dxi-item dataField="name" [label]="{text: 'Клиент'}"></dxi-item>
      </dxi-item>

      <dxi-item itemType="group" [colCount]="2">
       
        <dxi-item dataField="birthDate" editorType="dxDateBox" [label]="{text: 'Датум на раѓање'}"
          [editorOptions]="{ width: '100%', displayFormat: 'yyyy/MM/dd'}">
          <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item>

        <dxi-item dataField="gender" editorType="dxSelectBox" [label]="{text: 'Пол'}"
          [editorOptions]="{items: genderList, displayExpr: 'value', valueExpr: 'key'}">
          <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item>

         <dxi-item dataField="educationId" editorType="dxSelectBox" [label]="{text: 'Образование'}"
          [editorOptions]="{items: educationList, displayExpr: 'value', valueExpr: 'key'}">
          <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item>
        
        <dxi-item dataField="maritalStatus" editorType="dxSelectBox" [label]="{text: 'Брачен статус'}"
          [editorOptions]="{items: maritalStatusList, displayExpr: 'value', valueExpr: 'key'}">
          <dxi-validation-rule type="required" message="Field is required"></dxi-validation-rule>
        </dxi-item> 

      </dxi-item>  

      <dxi-item itemType="group" [colCount]="1">
          <dxi-item dataField="message" [editorOptions]="{ disabled: true }" [label]="{text: 'Лабела'}"></dxi-item>
      </dxi-item>
      

    </dx-form>
    <div align="right">    
      <dx-button type="success" text="Процесирај" (onClick)="predictionClick()">
      </dx-button>              
    </div>

    <dx-data-grid class="dx-card wide-card" id="gridContainer" [dataSource]="customers" [showBorders]="true"
      [focusedRowIndex]="0" [columnAutoWidth]="true" keyExpr="id" [hoverStateEnabled]="true">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="name" [width]="190" caption="Назив">
      </dxi-column>
      <dxi-column dataField="educationName" caption="Образовани">
      </dxi-column>
      <dxi-column dataField="genderName" caption="Пол" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="maritalStatusName" caption="Брачен статус">
      </dxi-column>
      <dxi-column dataField="age" caption="Години">
      </dxi-column>
      <dxi-column dataField="labelName" caption="Лабела">
      </dxi-column>
      <dxo-export [enabled]="true"></dxo-export>
    </dx-data-grid>

    <!-- <form>
            <ul class="form-style-1">
              <li>
                <label>Клиент:</label>
                <input type="text" name="field1" [(ngModel)]="model.name" class="field-long" />
              </li>
              <li>
                <label>Образование: </label>
                <select [(ngModel)]="model.educationId" name="field2" class="field-select">
                  <option *ngFor="let item of educationList" value={{item.key}}>
                    {{item.value}}
                  </option>
                </select>
              </li>
              <li>
                <label>Пол: </label>
                <select [(ngModel)]="model.gender" name="field3" class="field-select">
                  <option *ngFor="let item of genderList" value={{item.key}}>
                    {{item.value}}
                  </option>
                </select>
              </li>
              <li>
                <label>Брачен статус: </label>
                <select [(ngModel)]="model.maritalStatus" name="field4" class="field-select">
                  <option *ngFor="let item of maritalStatusList" value={{item.key}}>
                    {{item.value}}
                  </option>
                </select>
              </li>
              <li>
                <label class="label-text">Датум на раѓање: </label>
          
                <select [(ngModel)]="model.day" name="field5" class="field-divided" placeholder="">
                  <option *ngFor="let day of days" value={{day}}>
                    {{day}}
                  </option>
                </select>
                <select [(ngModel)]="model.month" name="field6" class="field-divided" placeholder="Second">
                  <option *ngFor="let item of monthList" value={{item.key}}>
                    {{item.value}}
                  </option>
                </select>
                <select [(ngModel)]="model.year" name="field7" class="field-divided" placeholder="Third">
                  <option *ngFor="let year of years" value={{year}}>
                    {{year}}
                  </option>
                </select>
              </li>
              <li>
                <input type="submit" (click)="predictionClick()" value="Prediction" />
                <div *ngIf="isLoading;then content else other_content"></div>
                <ng-template #content>Loading...</ng-template>
                <ng-template #other_content>{{message}}</ng-template>
              </li>
            </ul>
          </form> -->

  </div>
</div>